[submodule "Huobi-Analyzer"]
	path = Huobi-Analyzer
	url = git@github.com:Mr-S-Mirzoev/Huobi-Analyzer.git
[submodule "TechnoSphere"]
	path = TechnoSphere
	url = git@github.com:Mr-S-Mirzoev/TechnoSphere.git
[submodule "Studies/Stochastic Gradient/dependencies/blaze"]
	path = Studies/Stochastic Gradient/dependencies/blaze
	url = https://github.com/dendisuhubdy/blaze.git
